<div class="jumbotron">
  <h1> Configurações </h1>
  <%= link_to "Voltar página", '/', :class=> 'btn btn-gray btn-big purple-font' %>
</div>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color: red"><%= error%></p>
    <%end%>
<%end%>

<div class="container">
    <%= form_with(url: "/jobs", method: "post", class: "employee-form") do%>
        <h3>Cadastrar Cargo</h3>
        <%= label_tag(:q, "Nome") %>
        <%= text_field_tag(:q) %>

        <%= submit_tag("Cadastrar", class: 'btn btn-purple') %>
    <%end%>
</div>